body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: rgb(94, 94, 94);

}

.color_background{
    background: rgb(18,109,111);
    background: linear-gradient(71deg, rgba(18,109,111,1) 0%, rgba(79,15,121,1) 100%);
    min-height: 100vh;
}