@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Ropa Sans', sans-serif;
}

/* custom scrollbar */
::-webkit-scrollbar{
	width: 7px;
	background-color: rgb(10, 111, 112);
}

::-webkit-scrollbar-thumb{
	background-color: rgb(26, 179, 182);
	border-radius: 7px;
}

body {
    background: rgb(14, 14, 14);
    background: linear-gradient(71deg, rgb(15, 77, 78) 0%, rgb(59, 12, 90) 100%);
    min-height: 100vh;
}

.navbar-background {
    background: rgb(14, 14, 14);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.432) 70%, rgba(0, 0, 0, 0) 100%);
}

main div {
    justify-content: center;
    align-items: center;
}

.logo img:hover{
    /* transform: rotate(360deg); */
    transform: scale(1.05);
    transition: .2s all;
}

.navbar-nav {
    padding-left: 10px;
}

.social-icons img{
    margin-left: 12em;
    margin-right: -11em;
    width: 1.2em;
    filter: brightness(.7);
}

.social-icons img:hover{
    transform: rotate(360deg);
    filter: brightness(1);
    transition: .5s all;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius: 1em;
    margin-top: 1.5em;
    margin-bottom: 3em;
}


.container__morphism {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    width: 50%;

}

.container__morphism--style {
    background: rgba(131, 64, 146, 0.274);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.548);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    padding: 2em;
}

.container__morphism__span--style {
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    margin-bottom: 0.7em;

}

.container__morphism__p--style {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.856);
}

.container__morphism__ul--style {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.856);
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
}

.grid__categories{
    display: inline;
    margin: 0 auto;
}

.grid__categories a{
    color: white;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}

.grid__categories a:hover{
    color: rgb(219, 219, 219);

}

.grid__categories img{
    width: 1.1em;
    background-color: rgb(0, 230, 118);
    padding: .15em;
    border-radius: 50%;
    margin: -4px 0px 0px 5px;
}

.grid__categories img:hover{
    background-color: rgb(0, 199, 103);
    transition: .5s all;
}

.grid__container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0em 5em;

}

.grid__container__producto{
    /* background-color: rgba(248, 248, 248, 0.075);
    border-radius: 0.5em; */
    margin-bottom: 2em;
    padding: 5px;
}

.grid__container__producto span{
    color: rgb(231, 231, 231);
    text-align: center;
}

.grid__container__producto img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(248, 248, 248, 0.075);
    border-radius: .5em;
    height: 14em;
    padding: .5em;
}

.grid__container__producto__image{
    position: relative;
}

.grid__container__producto__image{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-bottom: 15px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.grid__container__producto__image:hover img{
    opacity: 0.3;
    filter: blur(3px);
    transition: 0.5s all;
}

.grid__container__producto__image:hover .middle{
    opacity: 1;
    transition: .5s all;
}

.grid__container__producto__image__button{
    background-color: rgb(0, 230, 118);
    color: white;

    font-size: .7em;
    color: rgb(26, 26, 26);
    padding: 12px 32px;
    border-radius: .5em;
    text-align: center;
}

.grid-button{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0 3em;
}

.btn-add-quantity{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    text-decoration: none;
    padding: -1.2em 0em 0em 0em;
    border-radius: .5em;
    color: rgb(104, 104, 104);
    height: 3.8em;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
}
.btn-add-quantity span{
    color: rgb(56, 56, 56);
    font-size: .8em;
}

.btn-add-quantity select{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.btn-add-quantity select::-ms-expand{
    display: none;
}

.btn-add{
    background-color: rgb(0, 230, 118);
    display: inline-block;
    text-decoration: none;
    padding: .5rem 1.75rem;
    border-radius: .5em;
    width: 14em;
    height: 3.8em;
    text-align: center;
    align-items: center;
}

.btn-add-nostock{
    background-color: rgb(146, 7, 7);
    display: inline-block;
    text-decoration: none;
    padding: .5rem 1.75rem;
    border-radius: .5em;
    width: 14em;
    height: 3.8em;
    text-align: center;
    align-items: center;
}

.btn-add:hover{
    background-color: rgb(1, 177, 92);
    cursor: pointer;
    color: white;
    line-height: 2.8em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* .btn-add-nostock:hover{
    background-color: rgb(146, 7, 7);
    cursor: pointer;
    color: white;
    line-height: 2.8em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */

.btn-add span{
    color: rgb(43, 43, 43);
    font-weight: 600;
    font-size: .8em;
}

.btn-add-nostock span{
    color: rgb(230, 230, 230);
    font-weight: 600;
    font-size: .8em;
}

.grid__container__producto__image__button-hover{
    display: none;
}

.btn-add:hover .grid__container__producto__image__button-show{
    display: none;
}

.btn-add:hover .grid__container__producto__image__button-hover{
    display: inline;
}

table tbody img{
    height: 4em;
}

#warnings p{
    color: rgb(177, 17, 17);
}

.product-image{
    width: 25vw;
    border-radius: 1em;
}

.container-product__aside h2{
    color: white;
    font-size: 2.2em;
    text-align: center;
}

.container-product__aside p{
    color: rgb(221, 221, 221);
    font-size: 1.2em;
    text-align: center;
}

.container-product__aside button{
    color: rgb(0, 0, 0);
    font-size: .8em;
    text-align: center;
}

#categories__buzos-camperas2{
    display: none;
}

table{
    background-color: rgba(150, 150, 150, 0.151);
    border-radius: .5em .5em 0 0;
}

table thead tr th, table tbody tr{
    color: white;
}

/* Dispositivos grandes hasta 1024px */

@media only screen  and (max-width: 400px) {

    .grid__container__producto img{

        padding: 0;
    }

    .grid__container__producto img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(248, 248, 248, 0.075);
        border-radius: .5em;
        height: 13em;
        padding: .2em;
    }

    .btn-add{
        background-color: rgb(0, 230, 118);
        display: inline-block;
        text-decoration: none;
        padding: .5rem 1.75rem;
        border-radius: .5em;
        width: 13em;
        height: 3.8em;
        text-align: center;
        align-items: center;
    }

    .btn-add-nostock{
        background-color: rgb(146, 7, 7);
        display: inline-block;
        text-decoration: none;
        padding: .5rem 1.75rem;
        border-radius: .5em;
        width: 13em;
        height: 3.8em;
        text-align: center;
        align-items: center;
    }

    .grid__container {
        display: grid;
        grid-template-columns: 100%;
        margin: 0em 5em;
    }
    
    #categories__camisetas{
        margin: 3em auto 1em auto;
    }
    #categories__buzos-camperas{
        display: none;
    }
    #categories__buzos-camperas2{
        display: block;
        margin: 3em auto 1em auto;
    }
    .grid{
        display: grid;
        grid-template-columns: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen  and (min-width: 400px) and (max-width: 530px) {

    .grid__container__producto img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(248, 248, 248, 0.075);
        border-radius: .5em;
        height: 10em;
        padding: .2em;
    }

    .btn-add{
        background-color: rgb(0, 230, 118);
        display: inline-block;
        text-decoration: none;
        padding: .5rem 1.75rem;
        border-radius: .5em;
        width: 10em;
        height: 3.8em;
        text-align: center;
        align-items: center;
    }

    .btn-add-nostock{
        background-color: rgb(146, 7, 7);
        display: inline-block;
        text-decoration: none;
        padding: .5rem 1.75rem;
        border-radius: .5em;
        width: 10em;
        height: 3.8em;
        text-align: center;
        align-items: center;
    }

    .grid__container{
        margin: 0em 1em
    }
    #categories__camisetas{
        margin: 3em auto 1em auto;
    }
    #categories__buzos-camperas{
        display: none;
    }
    #categories__buzos-camperas2{
        display: block;
        margin: 3em auto 1em auto;
    }
    .grid{
        display: grid;
        grid-template-columns: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (min-width: 530px) and (max-width: 1000px) {

    .grid__container{
        margin: 0em 1em
    }
    #categories__camisetas{
        margin: 3em auto 1em auto;
    }
    #categories__buzos-camperas{
        display: none;
    }
    #categories__buzos-camperas2{
        display: block;
        margin: 3em auto 1em auto;
    }
    .grid{
        display: grid;
        grid-template-columns: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .product-image{
        width: 80vh;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1280px) {
    .grid__container__producto img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(248, 248, 248, 0.075);
        border-radius: .5em;
        height: 10em;
        padding: .2em;
    }

    .btn-add{
        background-color: rgb(0, 230, 118);
        display: inline-block;
        text-decoration: none;
        padding: .5rem 1.75rem;
        border-radius: .5em;
        width: 10em;
        height: 3.8em;
        text-align: center;
        align-items: center;
    }

    .btn-add-nostock{
        background-color: rgb(146, 7, 7);
        display: inline-block;
        text-decoration: none;
        padding: .5rem 1.75rem;
        border-radius: .5em;
        width: 10em;
        height: 3.8em;
        text-align: center;
        align-items: center;
    }

    .grid__categories{
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 1280px){

}